$primary: #8074d6;
$secondary: #e5e3f3;
$purple: #5e2a6f;
$white: #fff;
$black: #352d2d;
$gray: #888;

$z-index-menu: 1000;

$header-h: 80px;
$nav-w: 260px;
$subnav-w: 200px;

$lato: 'Lato', sans-serif;

$br-sm: 7px;
