.advantages {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.advantages__item {
	flex: 0 0 25%;
	padding: 1rem;
}

.advantages__image {
	max-height: 180px;
	width: auto;
	object-fit: cover;
}

.advantages__content  {
	margin-top: 1rem;
}

.advantages__title {
	margin-bottom: 1rem;

	font-size: 1.8rem;
	font-weight: 600;
	color: $purple;
}

.advantages__text {

}