.header {
	max-height: $header-h;
	// background-color: $primary;
	background: rgb(128,116,214);
background: linear-gradient(180deg, rgba(128,116,214,1) 0%, rgba(218,215,241,1) 100%);
border-bottom: 1px solid $white;
}

.header__inner {
	padding: 1rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	max-width: 240px;
	position: relative;
}

.header__image {
	max-height: 60px;
	width: auto;

	opacity: .7;
}

.header__text {
	position: absolute;
	top: 10%;
	left: 50%;
	z-index: 1;

	transform: translateX(-50%);

	font-family: $lato;
	font-weight: 300;
	font-size: 4rem;
	line-height: 1;
	color: $white;
}