.nav {
	width: $nav-w;

	background-color: $white;
	border-radius: $br-sm;
	box-shadow: 0 6px 8px rgba($black, .2);
}

.nav__item {
	width: 100%;
	position: relative;

	border-bottom: 1px solid $gray;

	transition: background-color linear .2s;

	&:first-child {
		border-top-left-radius: $br-sm;
		border-top-right-radius: $br-sm;
	}

	&:last-child {
		border-bottom-left-radius: $br-sm;
		border-bottom-right-radius: $br-sm;

		border-bottom: none;
	}

	&:hover {
		background-color: lighten($primary, 15%);
		cursor: pointer;

		>.subnav {
			display: block;
		}

		&:first-child {
			border-top-right-radius: 0;
		}
	}
}

.nav__link {
	display: block;
	padding: 1rem 1.5rem;

	font-family: $lato;
	font-size: 1.6rem;
	font-weight: 700;
	color: $purple;

	&:hover {
		text-decoration: none;
	}

	&.has-subnav {
		position: relative;
		padding-right: 2rem;

		&:after {
			display: block;
			content:"";
			margin-top: -1px;

			position: absolute;
			top: 50%;
			right: 1rem;
			z-index: 1;
			transform: translateY(-50%);

			border-style: solid;
			border-width: 6px 5px 0 5px;
			border-color: $purple transparent transparent transparent;
		}
	}
}