.search {
	max-width: 25rem;
	width: 100%;
	position: relative;

	background-color: $secondary;
	border-radius: $br-sm;
	overflow: hidden;


	@media (max-width: 992px) {
		display: none;
	}
}

.search__input {
	display: block;
	width: 100%;
	padding: 1.2rem 2rem;

	background-color: transparent;
	border: none;

	font-family: inherit;
	font-size: 1.4rem;
	color: $gray;

	transition: background-color linear .2s;

	&::placeholder {
		color: rgba($gray, .9);
	}

	&:focus {
		background-color: $white;
	}
}

.search__btn {
	position: absolute;
	top: 50%;
	right: 1rem;
	z-index: 1;


	border: none;
	background-color: transparent;


	transform: translateY(-50%);

	i {
		color: $primary;
		font-size: 2rem;
	}
}