.subnav {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 1000;

	width: $subnav-w;

	background-color: lighten($primary, 20%);
	border-top-right-radius: $br-sm;
	border-bottom-left-radius: $br-sm;
	border-bottom-right-radius: $br-sm;
	overflow: hidden;
}

.subnav__item {
	width: 100%;

	padding: 1rem 2rem;

	border-bottom: 1px solid $gray;

	&:last-child {
		border-bottom: none;
	}
}

.subnav__link {
	color: $purple;
	font-weight: 500;
	font-size: 1.6rem;
}